/* Light/Dark Mode */
body[data-theme='dark'] {
    background-color: #121212;
    color: #ffffff;
}

body[data-theme='light'] {
    background-color: #ffffff;
    color: #000000;
}

/* Container */
.container {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--container-bg);
}

/* Inputs and Textareas */
input, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

/* Buttons */
button {
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    background-color: #6200ea;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}
